In [3]:
%%html
<style>
    .dothis{
    font-weight: bold;
    color: #ff7f0e;
    font-size:large
    }
</style>

# An introduction to Python 
.. and Jupyter Notebooks

## Jupyter Notebooks
This is a Jupyter Notebook. It is a website with different kinds of "cells". The active cell has a blue bar on the left-hand side. There are **two main cell types**. This cell here is a `markdown` cell (like HTML code). The cells further down with the `[ ]` on the left side are `code` cells. Code cells run real programming code for you, called via the Anaconda prompt in the background behind your eyes. The output (results) of your code is displayed below the cells, e.g. in the form of statistical results or maps.

To go through a notebook you can run cell by cell. The easiest way is to use a **keyboard shortcut** `[Ctrl] + [Enter]` on Windows, or `[Command] + [Enter]` on Mac.

Some other useful shortcuts are as follows:
- `[a]` for adding a cell above (make sure to press `[Esc]` first, or click on the left side outside of the text compartment of a cell first to exit the cell editing)
- `[b]` add cell below (press `[Esc]` / click left of text compartment first)
- `[d][d]` delete current cell

## Getting comfortable with JupyterLab

Take a moment to look around the JupyterLab interface.

## Python basics and variables

In [ ]:
# Comments, like this one, are preceded by a hash symbol. Comments are not executed.

In [5]:
# We can use the print() function to display stuff on screen
print('Hello World!')

Hello World!

<span class='dothis'>...except there's something wrong with this line! Can you fix it?</span>

In [6]:
# Variables are used to store data. They may be text, numbers, datacubes...
# This variable my_message is a string, composed of text characters
my_message = 'This is a string'
# But this variable, a_big_number, is an integer.
a_big_number = 10000
# Decimal ('float') numbers are also possible.
another_number = 1.1

# Use the print() command to display the contents of a variable
print(my_message)
print(a_big_number)

This is a string
10000

In [7]:
# In JupyterLab notebooks, we can also look at the contents of a variable
# simply by typing its name in a cell then Shift+Enter:
my_message

'This is a string'

In [8]:
# If you try to do this multiple times in one cell, JupyterLab will just 
# show the contents of the last variable in the cell:
my_message
another_number

1.1

In [9]:
# Variables can be added, subtracted, multiplied etc, e.g.
a = 9
b = 5
c = a + b
print(c)

14

We say we **assign** a `variable` if we define a value for it. The variable called `a` in the example above is assigned the number 9.

The assignment comes through the `=` symbol. We read:<br>
- var **is (defined/assigned by/through)** 9 <br> 
- <font col=red>We do not read **equal to**, which is used when testing if two values are the same. (This operation actually uses the operator `==`).</font>

<span class='dothis'>Now create a new cell below and calculate what <em>b</em> divided by <em>a</em> is.</span>

## Basic data structures

You'll see some of these appear in some of our later examples, so it is useful to be aware of them.

As you will see, data structures are also assigned to variables!

#### Lists

In [10]:
# Lists store several items together
my_list_of_numbers = [1, 6, 9, 10]
various_text = ['Geography', 'Geology', 'Philosophy']
print('various_text, before changing:', various_text)

# They can be changed, e.g.
various_text.append('Chemistry')
print('various_text, after changing:', various_text)

various_text, before changing: ['Geography', 'Geology', 'Philosophy']
various_text, after changing: ['Geography', 'Geology', 'Philosophy', 'Chemistry']

Because lists have multiple items in them, we want to be able to access individual items. Lists have an 'index'. In Python, the first item is at index 0, so the example below should return 'Geography' and then 'Philosophy':

In [11]:
print(various_text[0])

Geography

In [12]:
print(various_text[2])

Philosophy

<span class='dothis'>What item is at position 1?</span> Create a new cell below to answer this.

#### Tuples

In [13]:
# Tuples are like lists, but once created they cannot be changed
# Note that they are made with round brackets, not square brackets.
a_tuple = (8, 7, 1)
print(a_tuple)

(8, 7, 1)

In [14]:
# If we try to modify a tuple we will get an error
a_tuple.append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [15]:
# Indexing in tuples works the same way as lists
print(a_tuple[1]) #This should display 7.

7

#### Dictionaries

In [16]:
# Dictionaries store information as "key:data" pairs
phone_book = {"John": 123, "Jane": 234, "Jerard": 345}
print(phone_book)

# Add new item to the dictionary
phone_book["Jill"] = 345
print(phone_book)

{'John': 123, 'Jane': 234, 'Jerard': 345}
{'John': 123, 'Jane': 234, 'Jerard': 345, 'Jill': 345}

Like with Lists, we have a way of retrieving items from Dictionaries. This time though, we get items according to their key:

In [17]:
print(phone_book['Jerard'])

345

<span class="dothis">Create a cell below which returns John's phone number.</span>

<span class="dothis">Now, in another new cell, make a dictionary to store the favourite colours of the people in your group.</span>

### Summary of variables
Variables make programming easier. There are two major reasons to use variables:
- Reduction of work - if we use a number or a string several times, we can use the variable instead of writing the actual number and text again and again
- Simplicity - rather than writing a long number or text, the code will read easier if we use short variable names
- If we use them to store our options then we can change the input easily at the beginning of a program

Variables can be of different types. Here we have seen variables that represent strings, numbers, lists and dictionaries. We will store other types of data in variables later on.

As we continue through the course it will become clear that the use of variables, instead of writing the values by hand, is a big help for us.

## Functions (`Def`initions)
A function is a key element in writing programs. You can think of a function in a computing language in much the same way you think of a mathematical function. The function takes in arguments, performs some operation based on the identities of the arguments, and then returns a result.

In [18]:
# Function without argument or return value.
def my_function():
    print('Here is my function')
my_function()

Here is my function

In [19]:
# Function with one argument. It does not return the value.
# x is a parameter
def foo(x):
    # We are using Python's "f-string" string formatting here.
    # This requires the character f before the quotation marks.
    # Then, the variable we want to print is enclosed in curly brackets {}.
    print(f"x = {x}")

# pass 5 to the function parameter. Here 5 is an arg.
foo(5)

x = 5

In [20]:
# Function that returns sum of 2 input numbers
# Both numbers must be provided
def sum_two_numbers(a, b):
    return a + b

c = sum_two_numbers(3, 12)
print(f"c = {c}")
# Answer should be 15!

c = 15

In [21]:
# Function which returns data, has optional argument
def multiply_by(a, b=2):
    return a * b

# single arg can be passed and will use default optional argument.
print(multiply_by(3))

# Or, specify the optional argument.
print(multiply_by(3, b=47))


# Note that if we do not provide the optional argument "b", it will have the standard value of 2.

6
141

In [22]:
# Function which takes the contents of a list of numbers
def print_item_in_list(a_list, position):
    print(a_list[position])
    
mylist = ['blue', 'red', 'green']
print_item_in_list(mylist, 0) # This should return 'blue'

blue

In [28]:
# function for 2 reqs, one option, divide 

def divideSumByC(a,b, c=1): 
    return (a+b)/c

print(divideSumByC(2,4, c=2))

3.0

<span class="dothis">Create a function that has two required arguments and one optional argument. It must add the two required arguments together and then divide them by the optional argument. It must return the result.</span> Do this in a new cell.

## Accidentally overwriting named variables and functions

Take a look at the example below.

In [29]:
# This function returns a and b as a List
def c(a, b):
    return [a, b]


firstitem = "apple"
seconditem = 3
d = c(firstitem, seconditem)
print(d)

['apple', 3]

That worked fine. We got a 2-item list back.
Now let's "accidentally" re-assign the value of `c` to be a string.

In [30]:
c = "tomato"
d = c(firstitem, seconditem)
print(d)

TypeError: 'str' object is not callable

Oops, we get a `TypeError`.. Now that `c='tomato'`, we have lost our original definition of c as a function from above.

## BONUS: Loops and If statements

You DO NOT need to know about Loops and If statements for this course. But if you already know about them, feel free to use them. If you think they would be useful to you then you are welcome to ask one of the teachers for more information during the project days, and/or to follow the links below for more information.

For reference, we have included examples of these items below.

### Loops/iteration
An example of iterating (*going through*) using a `for` statement. Other types of iteration are also possible. More information available at http://justinbois.github.io/bootcamp/2020_fsri/lessons/l06_iteration.html.

In [31]:
# Loop through a list
my_list_of_numbers = [1, 6, 9, 10]
for n in my_list_of_numbers:
    print(n)

1
6
9
10

### If/conditional logic
An example of conditional logic using an `if` statement. Other ways of specifying conditional logic are also possible. More information available at http://justinbois.github.io/bootcamp/2020_fsri/lessons/l04_more_operators_and_conditionals.html

In [32]:
# Check contents of variables with if statements
name = "John"
age = 17

if name == "John" or age == 17:
    print(f"Name is {name}")
    print(f"{name} is {age} years old")

Name is John
John is 17 years old