# What datasets are available in the SDC?

The SDC has changed their services in 2024. The SDC now provides a more data hosting-oriented service. It used to provide a processing (Jupyter Lab) environment facilitating viewing metadata. We still can extract some information easily about available datasets and available dates. Much more comprehensively, these information are provided on their website (https://explorer.swissdatacube.org/products). An extract of the datasets is provided in form of a table in the second code cell.

This simple notebook shows still some still-exisitng functionality to get information on the exisitng datasets.

You can copy/paste lines of code as needed to get the details that you are interested in.

In [9]:
%load_ext autoreload
%autoreload 2

import dask.distributed
from pystac_client import Client
import pandas as pd
import warnings
warnings.filterwarnings("ignore", category=UserWarning, module="pystac_client")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [10]:
df = pd.read_csv("measurements_SwissDC.csv")
pd.set_option('display.max_rows', 140) #replace second number with the number of rows you want to see completely
# df

# or show for example only the results for landsat_etm_c2_l2
# df.loc[df['product']=="landsat_etm_c2_l2"]
df.loc[df['product']=="landsat_ot_c2_l2"]

,product,measurement,name,dtype,units,nodata,aliases,flags_definition,resolution,time_start,time_end
73,landsat_ot_c2_l2,SR_B1,SR_B1,uint16,1,0,"['band_1', 'coastal_aerosol']",NaN,30.0,2013-03-22,2025-05-31
74,landsat_ot_c2_l2,SR_B2,SR_B2,uint16,1,0,"['band_2', 'blue']",NaN,30.0,2013-03-22,2025-05-31
75,landsat_ot_c2_l2,SR_B3,SR_B3,uint16,1,0,"['band_3', 'green']",NaN,30.0,2013-03-22,2025-05-31
76,landsat_ot_c2_l2,SR_B4,SR_B4,uint16,1,0,"['band_4', 'red']",NaN,30.0,2013-03-22,2025-05-31
77,landsat_ot_c2_l2,SR_B5,SR_B5,uint16,1,0,"['band_5', 'nir']",NaN,30.0,2013-03-22,2025-05-31
78,landsat_ot_c2_l2,SR_B6,SR_B6,uint16,1,0,"['band_6', 'swir_1']",NaN,30.0,2013-03-22,2025-05-31
79,landsat_ot_c2_l2,SR_B7,SR_B7,uint16,1,0,"['band_7', 'swir_2']",NaN,30.0,2013-03-22,2025-05-31
80,landsat_ot_c2_l2,QA_PIXEL,QA_PIXEL,uint16,bit_index,1,"['pq', 'pixel_quality']","{'snow': {'bits': 5, 'values': {'0': 'not_high...",30.0,2013-03-22,2025-05-31
81,landsat_ot_c2_l2,QA_RADSAT,QA_RADSAT,uint16,bit_index,0,"['radsat', 'radiometric_saturation']","{'nir_saturation': {'bits': 4, 'values': {'0':...",NaN,2013-03-22,2025-05-31
82,landsat_ot_c2_l2,SR_QA_AEROSOL,SR_QA_AEROSOL,uint8,bit_index,1,"['qa_aerosol', 'aerosol_qa']","{'water': {'bits': 2, 'values': {'0': False, '...",NaN,2013-03-22,2025-05-31
83,landsat_ot_c2_l2,ST_B10,ST_B10,uint16,Kelvin,0,"['band_10', 'tirs', 'st', 'surface_temperature']",NaN,NaN,2013-03-22,2025-05-31
84,landsat_ot_c2_l2,ST_TRAD,ST_TRAD,int16,W/(m2.sr.μm),-9999,"['trad', 'thermal_radiance']",NaN,NaN,2013-03-22,2025-05-31
85,landsat_ot_c2_l2,ST_URAD,ST_URAD,int16,W/(m2.sr.μm),-9999,"['urad', 'upwell_radiance']",NaN,NaN,2013-03-22,2025-05-31
86,landsat_ot_c2_l2,ST_DRAD,ST_DRAD,int16,W/(m2.sr.μm),-9999,"['drad', 'downwell_radiance']",NaN,NaN,2013-03-22,2025-05-31
87,landsat_ot_c2_l2,ST_ATRAN,ST_ATRAN,int16,1,-9999,"['atran', 'atmospheric_transmittance']",NaN,NaN,2013-03-22,2025-05-31
88,landsat_ot_c2_l2,ST_EMIS,ST_EMIS,int16,1,-9999,"['emis', 'emissivity']",NaN,NaN,2013-03-22,2025-05-31
89,landsat_ot_c2_l2,ST_EMSD,ST_EMSD,int16,1,-9999,"['emsd', 'emissivity_stddev']",NaN,NaN,2013-03-22,2025-05-31
90,landsat_ot_c2_l2,ST_CDIST,ST_CDIST,int16,Kilometers,-9999,['cdist'],NaN,NaN,2013-03-22,2025-05-31
91,landsat_ot_c2_l2,ST_QA,ST_QA,int16,Kelvin,-9999,"['st_qa', 'surface_temperature_quality', 'surf...",NaN,NaN,2013-03-22,2025-05-31

In [11]:
# Initiate Dask Env
client = dask.distributed.Client()

/opt/miniconda3/envs/pystac_example/lib/python3.11/site-packages/distributed/node.py:187: UserWarning: Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the HTTP server on port 63209 instead
  warnings.warn(

In [12]:
# This connects to the server and downloads a "catalog" tha contains some metadata
catalog = Client.open("https://explorer.swissdatacube.org/stac")

In [5]:
# Search the catalog for all available products
collections = catalog.get_collections()

# List the collections (products) available in the catalog
product_names = [collection.id for collection in collections]
# [print(pi,pd) for pi,pd in zip(product_names, product_descriptions)]
[print(pi) for pi in product_names]

arealstatistik
astgtmv003
combiprecip
corinelc_europe
corinelc_switzerland
GE1
landsat_etm_c2_l2
landsat_ot_c2_l2
landsat_tm_c2_l2
RapidMapping
s2_l2
swissalti3d
swissimagedop10

[None, None, None, None, None, None, None, None, None, None, None, None, None]

In [13]:
# Get the descriptions and print a full list

for pi in product_names:
    collection = catalog.get_collection(pi)
    print(f"{collection.id} - {collection.description}")

arealstatistik - Arealstatistik products from Federal Statistical Office.
astgtmv003 - Global Elevation Data from TERRA satellite's ASTER sensor.
combiprecip - Hourly Precipitation Estimation through Raingauge-Radar (MeteoSwiss CombiPrecip) scenes indexed by GRID-Geneva.
corinelc_europe - CORINE Land Cover Europe v2020_20u1 products for Swiss Data Cube.
corinelc_switzerland - CORINE Land Cover Switzerland 1990 products for Swiss Data Cube.
GE1 - GeoEye 1 imagery, provided by Swisstopo and converted to Cloud Optimized GeoTIFFs by GRID-Geneva
landsat_etm_c2_l2 - USGS Landsat 7 Collection 2 Level-2 Surface Reflectance and Temperature
landsat_ot_c2_l2 - USGS Landsat 8-9 Collection 2 Level-2 Surface Reflectance and Temperature
landsat_tm_c2_l2 - USGS Landsat 4-5 Collection 2 Level-2 Surface Reflectance and Temperature
RapidMapping - Special flight imagery of 13 August 2022, provided by Swisstopo and converted to Cloud Optimized GeoTIFFs by GRID-Geneva
s2_l2 - Sentinel-2a and Sentinel-2b imagery, processed to Level 2A (Surface Reflectance) and converted to Cloud Optimized GeoTIFFs
swissalti3d - swissALTI3D from swisstopo.
swissimagedop10 - SWISSIMAGE 10 provided by SWISSTOPO

In [14]:
# Some information, e.g. the available dates, can be extracted from the filename information
# Other, more detailed information are provided on the website of the SDC (https://explorer.swissdatacube.org/products)

# Get the collection client
collection = catalog.get_collection("landsat_ot_c2_l2")

# Initialize a list to hold the extracted values
acquisition_dates = []

# Iterate over the links
for link in collection.links:
    if link.rel == "child":  # Filter for links with the 'child' relationship
        # Extract the last part of the href
        last_part = link.href.split('/')[-1]  # Get the last segment
        acquisition_dates.append(last_part)

# Print the extracted acquisition dates
print("Acquisition Dates:", acquisition_dates)

Acquisition Dates: ['2013-3', '2013-4', '2013-5', '2013-6', '2013-7', '2013-8', '2013-9', '2013-10', '2013-11', '2013-12', '2014-1', '2014-2', '2014-3', '2014-4', '2014-5', '2014-6', '2014-7', '2014-8', '2014-9', '2014-10', '2014-11', '2014-12', '2015-1', '2015-2', '2015-3', '2015-4', '2015-5', '2015-6', '2015-7', '2015-8', '2015-9', '2015-10', '2015-11', '2015-12', '2016-1', '2016-2', '2016-3', '2016-4', '2016-5', '2016-6', '2016-7', '2016-8', '2016-9', '2016-10', '2016-11', '2016-12', '2017-1', '2017-2', '2017-3', '2017-4', '2017-5', '2017-6', '2017-7', '2017-8', '2017-9', '2017-10', '2017-11', '2017-12', '2018-1', '2018-2', '2018-3', '2018-4', '2018-5', '2018-6', '2018-7', '2018-8', '2018-9', '2018-10', '2018-11', '2018-12', '2019-1', '2019-2', '2019-3', '2019-4', '2019-5', '2019-6', '2019-7', '2019-8', '2019-9', '2019-10', '2019-11', '2019-12', '2020-1', '2020-2', '2020-3', '2020-4', '2020-5', '2020-6', '2020-7', '2020-8', '2020-9', '2020-10', '2020-11', '2020-12', '2021-1', '2021-2', '2021-3', '2021-4', '2021-5', '2021-6', '2021-7', '2021-8', '2021-9', '2021-10', '2021-11', '2021-12', '2022-1', '2022-2', '2022-3', '2022-4', '2022-5', '2022-6', '2022-7', '2022-8', '2022-9', '2022-10', '2022-11', '2022-12', '2023-1', '2023-2', '2023-3', '2023-4', '2023-5', '2023-6', '2023-7', '2023-8', '2023-9', '2023-10', '2023-11', '2023-12', '2024-1', '2024-2', '2024-3', '2024-4', '2024-5', '2024-6', '2024-7', '2024-8', '2024-9', '2024-10', '2024-11', '2024-12', '2025-1', '2025-2', '2025-3', '2025-4', '2025-5', '2025-6', '2025-7', '2025-8', '2025-9']

In [8]:
client.close()